<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        
        <td>フォロー数: <%= user.followings.count %></td><!--フォローフォロワー機能-->
        <td>フォロワー数: <%= user.followers.count %></td><!--フォローフォロワー機能-->
        
        <td><%= render "relationships/btn", user: user %></td><!--フォローフォロワー機能ボタン-->
        <td><%= link_to 'Show', user, class: "user_#{user.id}" %></td><!--フォローフォロワー機能-->
      </tr>
    <% end %>
  </tbody>
</table>
